.Circuits {
  display: flex;
  flex-direction: column;
  text-align: start;

  @media (max-width: 768px) {
    padding: 0;
    align-items: center;
  }

  h1 {
    padding-left: 40px;

    @media (max-width: 768px) {
      padding-left: 0;
    }
  }
  ul {
    width: 100%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      gap: 20px;
      padding: 0;
      justify-content: center;
    }
    li {
      background-color: black;
      border-radius: 20px;

      @media (max-width: 768px) {
        width: 150px;
      }

      .data_gp {
        background-color: #555;
        color: #fff;
        font-style: italic;
        font-size: 15px;
        width: 60px;
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 10px;
        border-radius: 20px;
        text-transform: uppercase;
        white-space: nowrap;

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }

      .img_circuits {
        width: 350px;
        height: 250px;

        @media (max-width: 768px) {
          width: 150px;
          height: 100px;
        }
      }
      .div_name_gp {
        background-color: #333333;
        color: #fff;
        height: 100px;
        border-radius: 20px;
        .name_gp {
          text-transform: uppercase;
          padding-left: 20px;
          font-size: 22px;
          font-style: italic;
          font-weight: bolder;
          @media (max-width: 768px) {
            font-size: 12px;
            padding-left: 5;
          }
        }
        .Flags {
          width: 21px;
          padding-left: 20px;
          padding-top: 10px;
          @media (max-width: 768px) {
            padding-left: 5;
          }
        }
      }
    }
  }
}
