body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

section {
  padding: 0 10%;
  display: flex;
  gap: 5%;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: bold;
}

.Container_Drivers {
  display: flex;
  justify-content: center;
  gap: 94px;
  margin-top: 10%;
}

.DriversIMG {
  width: 250px;
}

.F1CAR {
  width: 600px;
  border-radius: 20px;
}
.data_race {
  font-size: 20px;
  background-color: red;
  color: aliceblue;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.NextGP {
  padding-top: 40px;
}

.classification {
  margin-top: 10%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Text_classification {
  font-size: 40px;
  padding-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Container {
  display: flex;
  gap: 94px;
  font-weight: bolder;
}

.classification_Drivers_Team {
  width: 500px;
  height: 1080px;
  box-shadow: 2px 2px 2px 5px #b2bec3;
  border-radius: 5px;
  background-color: #1e022efe;
}

.Name_Classification {
  padding-left: 20px;
  color: #ffffff;
}

.Class {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.tes {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  height: 60px;
}

.pts {
  padding-right: 24px;
  color: #ffffff;
}

.txt {
  display: flex;
  gap: 34px;
  color: #ffffff;
  font-weight: bolder;
}

.capa_f1 {
  margin-top: 10%;
}
